@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Playfair', serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: theme(colors.primary);
  text-shadow: -1px -1px 0 #F2BED1, 1px -1px 0 #F2BED1, -1px 1px 0 #F2BED1, 1px 1px 0 #F2BED1;
  background-color: #F9F5F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outline-secondary{
  text-shadow: -1px -1px 0 #F2BED1, 1px -1px 0 #F2BED1, -1px 1px 0 #F2BED1, 1px 1px 0 #F2BED1;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: theme(colors.charcoal);
}

button {}