@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: 'Playfair', serif; */
  font-family: 'Gaegu', cursive;
  font-size: 140%;

  line-height: 1.2;
  /* font-weight: 900; */
  font-weight: 700;

  color-scheme: light dark;
  color: theme(colors.charcoal);
  background-color: #F9F5F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.brand-shadow {
  text-shadow: -2px -2px 0 #F2BED1, 2px -2px 0 #F2BED1, -2px 2px 0 #F2BED1, 2px 2px 0 #F2BED1;
}

.title-font {
  font-family: 'Playfair', serif;
  color: theme(colors.primary);
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-image: url("./assets/background.svg"); */
  /* background-position: center; */
}

.content-background {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: -1;
  background-image: url("./assets/background.svg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.outline-secondary{
  text-shadow: -1px -1px 0 #F2BED1, 1px -1px 0 #F2BED1, -1px 1px 0 #F2BED1, 1px 1px 0 #F2BED1;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: theme("colors.charcoal");
}

button {}

.brand {
  font-family: 'Bagel Fat One', cursive;
  color: #ffd3d0;
  /* font-family: 'Moirai One', cursive;
  font-family: 'Playfair', serif; */
}

.bubbly-font {
  font-family: 'Bagel Fat One', cursive;
}

.font-playfair {
  font-family: 'Playfair', serif;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid theme("colors.charcoal");
}

@layer components {
  .btn-border {
    @apply  border border-charcoal rounded-lg px-2.5 py-1 bg-white cursor-pointer text-center inline;
  }
  .option {
    @apply border border-charcoal rounded-2xl p-3 w-1/3;
  }
}

.slide-happy {
  background-color: theme(colors.slide_pink);
}

.slide-happy::before, .slide-happy-bg {
  background-image: url("./assets/happy.svg");
}

.slide-angry {
  background-color: theme(colors.slide_orange);
}

.slide-angry::before, .slide-angry-bg {
  background-image: url("./assets/angry.svg");
}

.slide-neutral {
  background-color: theme(colors.slide_yellow);
}

.slide-neutral::before, .slide-neutral-bg {
  background-image: url("./assets/neutral.svg");
}

.slide-anxious {
  background-color: theme(colors.slide_blue);
}

.slide-anxious::before, .slide-anxious-bg {
  background-image: url("./assets/anxious.svg");
}
